<!-- -->
<launch>
 <include file="$(find prosilica_camera)/launch/$(env AGENT)/generic.launch"></include>
   <node name="omni_vision_node" pkg="omni_vision" type="omni_vision_node">
    <param name="ball"         type="bool"    value="false" />
    <param name="white"        type="bool"    value="false" />
    <param name="obstacle"     type="bool"    value="false" />
    <param name="scan"         type="bool"    value="false" />
    <param name="show"         type="bool"    value="false" />
    <param name="obsthres"     type="int"     value="60" />
  </node> 
</launch>

